body {
  background-image: url("./images/base.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: white;
}

header {
  text-align: center;
  border-bottom: 3px solid rgba(246, 253, 254, 0.153);
}

h1 {
  font-size: 40px;
}

.location-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label-location {
  font-size: 25px;
}

.input-location {
  border-radius: 5px;
  font-size: 15px;
  border: none;
  width: 150px;
  height: 23px;
}

.search {
  font-size: 25px;
  cursor: pointer;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(206, 215, 212);
  width: 600px;
  height: 400px;
  text-align: center;
  background-color: rgb(206, 215, 212);
  color: rgb(26, 28, 39);
  border-radius: 10px;
  padding: 2px;
  margin: 0 auto;
}
